body{
    background-color: blueviolet;
    text-align: center;
    
}
.display-4{
    font-family: 'Liu Jian Mao Cao', cursive;
}
.jumbotron-fluid{
    width:auto;
    height: auto;
    text-align: center;
}
p{
    font-size: 20px;
    font-family: ;
}
.auth-image{
    width: 200px;
    height: auto;
    
}